$grid-item-padding: px2rem(10px) px2rem(5px);
$font-size: px2rem(14px);
$font-color: #666;
$grid-item-background-color: #fff;
$grid-item-hover-background-color: #f9f0a4;
$gird-item-img-width: px2rem(60px); // 图片宽度，将会转换为rem
