@import '../../style/config.base.scss'; // 公共样式引入
$position-type: absolute; // 定位类型，#app定义了width： 100%，height: 100%,时用的，如果没有定义，请自己定义为position：fixed；
$tabbar-height: 100px; // tarbar 高度定义
$tabbar-border-color: #e0e0e0;
$tabbar-border:linear-gradient(90deg, transparent 50%, $tabbar-border-color 50%); // 左右边框0.5px
$tabbar-top-border-color: linear-gradient(0deg, transparent 50%, $tabbar-border-color 50%); // 上下边框0.5px;
$tabbar-border-width: 1px; // 边框宽度
$tabbar-icon-width: 20px; // 图标宽度
$tabbar-font-size: 14px; // 字体大小
