
// 公共样式，sass变量
$browser-default-font-size: 75px !default; // sass 跟聚设计图定义默认rem更元素，设计图的1/10
$border-color: #d9d9d9;
$border-1px-top:linear-gradient(90deg, transparent 50%, $border-color 50%); // 左右边框0.5px
$border-1px-left: linear-gradient(270deg, transparent 50%, $border-color 50%); // 上下边框
//sass px 转rem函数
@function px2rem($px){//$px为需要转换的字号
  @return $px / $browser-default-font-size * 1rem;
}

// sass,伪元素边框定义
@mixin before-after-common {
  content: ' ';
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

// 元素定位mixin
@mixin locationEle ($top: none, $bottom: none, $left: none, $right:none) {
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

// 伪元素上边框0.5px实现方法
@mixin border-top-point5-line ($border-color: #d9d9d9){
  @include before-after-common;
  @include locationEle(0, none, 0, 0);
  height: 1px;
  width: 100%;
  border-top: 1px solid $border-color;
  color: $border-color;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

// 伪元素下边框0.5px实现方法
@mixin border-bottom-point5-line ($border-color: #d9d9d9){
  @include before-after-common;
  @include locationEle(none, -1px, 0, 0);
  height: 2px;
  border-bottom: 1px solid $border-color;
  color: $border-color;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

// 伪元素左边2框0.5px实现方法
@mixin border-left-point5-line ($border-color: #d9d9d9){
  @include before-after-common;
  @include locationEle(0, 0, 0, none);
  width: 1px;
  height: 100%;
  border-left: 1px solid $border-color;
  color: $border-color;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

// 伪元素右框0.5px实现方法
@mixin border-right-point5-line ($border-color: #d9d9d9){
  @include before-after-common;
  @include locationEle(0, 0, none, 0);
  width: 1px;
  height: 100%;
  border-left: 1px solid $border-color;
  color: $border-color;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}


$demo-background-color: #fff;
