// @import '../../static/font/scss/font-awesome.scss';

// 公共样式，sass变量
$browser-default-font-size: 75px !default; // sass 跟聚设计图定义默认rem更元素，设计图的1/10

//sass px 转rem函数
@function px2rem($px){//$px为需要转换的字号
  @return $px / $browser-default-font-size * 1rem;
}

// sass,伪元素边框定义
@mixin before-after-common {
  content: ' ';
  display: block;
  position: absolute;
}

// 元素定位mixin
@mixin locationEle ($top: none, $bottom: none, $left: none, $right:none) {
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

// 组件tabbar 公共样式sass列表

