@import '../../style/config.base.scss';
$titleBakColor: #b1b1b1; // 标题背景色
$treeNodeBorder: solid 1px #afcd50; // 父元素边框
$treeBorderColor: #afcd50; // 连线边框
$itemBackgroundColor: #fff; // 节点基础背景色
$spouseBorder: solid 1px pink; // 母系边框背景色
